In [1]:
import pandas as pd
import sys
import numpy as np
import os

# Adapted 12/12/22: https://github.com/smeylan/child-directed-listening/blob/master/src/run/run_beta_search.py
sys.path.append('.')
sys.path.append('src/.')
# end cite
from src.utils import configuration, generation_processing, substitutions
config = configuration.Config()

counts_path = os.path.join(config.eval_priors_dir, 'token_substitution_counts.csv')
counts_df = pd.read_csv(counts_path)

substitutions.check_counts_descending(counts_df)
counts_df['frequency_rank'] = np.arange(counts_df.shape[0])

In [2]:
print(config.eval_phase)

val

In [3]:
print(f"Total number of substitutions : {counts_df.shape[0]}")
counts_df[counts_df.original != counts_df.substitution].head(20)

Total number of substitutions : 217

    Unnamed: 0  count original substitution  frequency_rank
5          154     22      the            i               5
6           84     21       it            a               6
9           47     13     down          now               9
10         189     13      was          one              10
11          79     13       is            a              11
13          95     12     more            i              13
20          16     10      and           an              20
22         194      8     what          one              22
23          70      8        i            a              23
24         151      8      the            a              24
26          19      7      and           in              26
27          20      7      and            n              27
30         193      6     what            i              30
31          15      6      and            a              31
33          45      6     down           do              33
34         150      5     that         yeah              34
35         146      5     that          dat              35
37         126      5    other          the              37
43         182      5      too           to              43
44         103      4       no            i              44

In [10]:
all_nonhuman_updated_scores_path = os.path.join(config.eval_priors_dir, 'subsampled_levdist_generated_glosses.pkl')
all_nonhuman_updated_scores = pd.read_pickle(all_nonhuman_updated_scores_path)
cut = all_nonhuman_updated_scores[
    (all_nonhuman_updated_scores.token == 'down')
    & (np.isclose(all_nonhuman_updated_scores.age, 1.0))
    & list(map(lambda s : s.split()[0] == 'now', all_nonhuman_updated_scores.highest_posterior_words))
]
cut.shape

(13, 27)